body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: oklch(0.95 0.03 268.94);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
main {
  max-width: 500px;
  box-sizing: border-box;
  height: 500px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgb(244, 225, 225);
  background-color: white;
  border-radius: 15px;
  padding: 40px;
}
.authentication-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
form {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 15px;
  gap: 25px;
}
.input-field {
  height: 50px;
  border-radius: 7px;
  border: 1px solid rgb(194, 179, 179);
  padding: 10px;
  /* box-sizing: border-box; */
}
input::placeholder {
  font-size: 15px;
  color: rgb(163, 156, 156);
}
.credentials {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  background-color: oklch(51.1% 0.262 276.966);
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
.disclaimer {
  font-size: 12px;
  /* text-wrap-style: pretty; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; */
  text-align: center;
  margin-top: 20px;
}
.disclaimer span {
  color: blue;
  /* transition: 0.2s ease all; */
}
.disclaimer span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.redirect {
  font-size: 12px;
  margin-top: 20px;
}
.submit-btn:hover {
  background-color: oklch(47.703% 0.27959 273.213);
}
.redirect span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.hidden {
  display: none;
}
.main-signup {
  height: 700px;
}
